<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse pt-0">
  <div class="sidebar-sticky">
    <h6 class="p-3">Angular Unit Test Cook Book</h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="forms">
          Forms
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="routes">
          Routes
        </a>
      </li>
    </ul>
  </div>
</nav>